.create_new_btn,
.back-btn,
.search-btn,
.add_btn {
    background-color: $bg-color-3 !important;
    border-radius: 5px !important;
    height: 35px !important;
    margin-bottom: 0;
    margin-left: 5px;

    i, span {
        color: white;
        font-weight: bold;
    }

    &:hover {
        background-color: $bg-color-4 !important;
    }
}



#search-bar-0 {
    height: 35px !important;
}