.ant-select-dropdown-menu {
   max-height: none !important;
   overflow-y: visible !important;
}

.bg-form {
   font-family: "Nunito", sans-serif;
   background-color: $font-color-3;
   border-radius: 10px;
   padding: 30px 30px;
   margin-top: 1rem;
   box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);

   .bg-form-header {
      border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
      padding-bottom: 20px;

      h4 {
         font-weight: bold;
      }

      .ant-btn-primary {
         border-color: $bg-color-5;
         background: $bg-color-5;
         border-radius: 5px;
         box-shadow: 0 2px 6px 0 rgb(10 207 151 / 50%);

         &:hover {
            background-color: darken($bg-color-5, 20%);
         }
      }
   }

   .ant-form-item .ant-col-3 {
      text-align: left;
   }

   .body-part-effect>.ant-col:first-child,
   .body-part-effect>.ant-col:last-child {
      display: grid;
   }

   label[for~="__location"] {
      text-align: left;
   }
}

.ant-col-24.ant-form-item-label>label::before {
   display: none !important;
}
.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
   display: none !important;
}