.dashboard {
    .ant-card .ant-card-body p {
        padding: 0;
        margin: 0;
    }

    .statusEmployee {
        padding-right: 1%;

        .contentStatus {
            float: left;
            width: 100%;
            transform: skew(10deg);
            position: static;

            .contentStatus_child {
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: white;
                transform: translateX(50%);

                .contentStatus_child_num {
                    font-size: $fs-6;
                    line-height: 1;
                }

                .contentStatus_child_text {
                    color: #000;
                    font-size: $fs-5;
                }
            }
        }

        .overlayStatus {
            display: flex;
            width: 100%;
            min-width: 125px;
            height: 70px;
            align-items: center;
            justify-content: center;
            transform: skew(-10deg);
            position: relative;
            margin-left: auto;
            margin-right: auto;
            // font-size: ;
        }

    }

    .statusGroup {
        margin-top: 10px;

        .ant-card .ant-card-body {
            padding: 10px 5px;
        }
    }

    .event_content {
        padding: 2rem;
        position: relative;

        .event_content_overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}



.with-chevron[aria-expanded='true'] i {
    display: block;
    transform: rotate(180deg) !important;
}

// @media screen and (max-width: 576px) {

// }