.dashboard {
    .ant-card .ant-card-body p {
        padding: 0;
        margin: 0;
    }

    .statusEmployee {
        .contentStatus {
            float: left;
            width: 100%;
            transform: skew(10deg);
            position: static;

            .contentStatus_child {
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: white;
                transform: translateX(50%);

                .contentStatus_child_num {
                    font-size: $fs-6;
                    line-height: 1;
                }

                .contentStatus_child_text {
                    color: #000;
                    font-size: $fs-5;
                }
            }
        }

        .overlayStatus {
            display: flex;
            width: 100%;
            height: 70px;
            align-items: center;
            justify-content: center;
            transform: skew(-10deg);
            position: relative;
            margin-left: auto;
            margin-right: auto;
            // font-size: ;
        }

    }

    .statusGroup{
        .ant-card .ant-card-body{
            padding: 10px 5px;
        }
    }

}



.with-chevron[aria-expanded='true'] i {
    display: block;
    transform: rotate(180deg) !important;
}