.day-off-calendar .ant-picker-calendar {
  border-radius: 10px;
  padding: 10px;
}
.day-off-calendar .events {
  margin: 0;
  min-height: 100%;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 24px;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 576px) {
  .day-off-calendar .events .ant-badge-status-text {
    display: none;
  }
}
.day-off-calendar .modal-calendar {
  min-width: 1000px;
}
.day-off-calendar .modal-calendar .ant-space .ant-space-item {
  width: 100%;
}