* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

.layOut_wrapper > .ant-layout {
  position: relative;
}
.layOut_wrapper > .ant-layout .ant-layout-sider {
  overflow-x: hidden;
  position: fixed;
  min-height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
}
.layOut_wrapper > .ant-layout .ant-layout-sider .logo {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.layOut_wrapper > .ant-layout .ant-layout-sider .logo .sideBar-icon-sm {
  display: list-item;
}
.layOut_wrapper > .ant-layout .ant-layout-sider .logo .sideBar-icon-lg {
  display: none;
}
.layOut_wrapper > .ant-layout .ant-layout-sider:hover .logo .sideBar-icon-lg {
  display: list-item;
}
.layOut_wrapper > .ant-layout .ant-layout-sider:hover .logo .sideBar-icon-sm {
  display: none;
}
.layOut_wrapper > .ant-layout .ant-space-item {
  min-height: 100%;
}

.dashboard .ant-card {
  border-radius: 5px;
}
.dashboard .ant-card .ant-card-head {
  border-bottom: none;
}
.dashboard .ant-card .ant-card-head .ant-card-head-wrapper .ant-card-head-title {
  color: aqua;
}
.dashboard .ant-card .ant-card-body {
  position: relative;
}
.dashboard .ant-card .ant-card-body .ant-avatar {
  border: 2px solid black;
}
.dashboard .ant-card .ant-card-body p {
  padding-top: 10px;
  margin: 0;
  text-align: center;
}
.dashboard .ant-card .ant-card-body .status_staft {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  position: absolute;
  top: 2%;
  padding: 5px 5px;
}

.login-bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../assets/imgs/bgr__rain1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../assets/imgs/bgr__rain1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}
.login-bg .block-element {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50vh;
  left: 50vw;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}
.login-bg .block-element h4 {
  color: #fff;
  font-size: 28px;
}
.login-bg .block-element p {
  color: #fff;
}
.login-bg .block-element label {
  color: #fff;
  margin-right: 10px;
}
.login-bg .block-element .fpw-banner {
  margin: auto;
}
.login-bg .block-element .introduce-banner {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #fff;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-bg .block-element .introduce-banner h2 {
  color: #096481;
  font-weight: 700;
}
.login-bg .block-element .introduce-banner p {
  color: #096481;
}
.login-bg .block-element .introduce-banner .introduce-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-bg .block-element .introduce-banner.move {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.login-bg .block-element .ant-space {
  gap: 0 !important;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login-bg .block-element .ant-space .ant-space-item {
  width: 100%;
}
.login-bg .block-element p.fpw:hover {
  color: #2988ab;
}
.login-bg .block-element .btn-login:hover,
.login-bg .block-element .btn-fake:hover {
  background-color: #096481;
  border-color: #096481;
  color: #fff;
}
.login-bg .block-element .btn-fake,
.login-bg .block-element .btn-login {
  background-color: #2988ab;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 15px;
  border: solid 1px #2988ab;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.login-bg .block-element .btn-fake {
  cursor: pointer;
}
.login-bg .ant-btn:focus {
  background: #2988ab;
}
.login-bg .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
  content: "";
}
.login-bg .ant-checkbox-wrapper span:last-child {
  color: #fff;
}
.login-bg .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2988ab;
  border-color: #2988ab;
}
.login-bg .hide {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
}
.login-bg .introduce-banner-sm {
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
  display: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 544px) {
  .login-bg .block-element {
    width: 90%;
  }
  .login-bg .block-element .ant-space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-bg .block-element .introduce-banner {
    display: none;
  }
  .login-bg .block-element .introduce-banner-sm {
    display: block;
  }
  .hide {
    display: none;
  }
}
.mp_ex_form {
  font-size: 0.9rem;
}
.mp_ex_form .c {
  text-align: center;
}
.mp_ex_form .b {
  font-weight: 500;
}
.mp_ex_form .f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mp_ex_form .f-h {
  line-height: 40px;
  background-color: #c7842a;
  text-align: center;
  font-weight: 600;
}
.mp_ex_form .container {
  background-color: #fff;
  border: 1px solid #e6e9ed;
  border-radius: 1px;
  padding: 10px;
}
.mp_ex_form .border-none {
  border: 0px !important;
  margin: 1px;
}
.mp_ex_form .p-10-20 {
  padding: 10px 20px;
}
.mp_ex_form .border-none {
  border: none;
}

.dataTable .react-bootstrap-table table thead th .ant-space {
  gap: 0 !important;
  position: relative;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.dataTable .react-bootstrap-table table thead th .ant-space .ant-space-item:last-child {
  position: absolute;
  top: 40%;
}
.dataTable .react-bs-table-sizePerPage-dropdown #pageDropDown {
  width: 60px;
  height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  color: black;
}
.dataTable .react-bs-table-sizePerPage-dropdown #pageDropDown:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dataTable .react-bs-table-sizePerPage-dropdown .dropdown-menu {
  width: 55px;
  min-width: 55px;
}
.dataTable .react-bs-table-sizePerPage-dropdown .dropdown-menu > li {
  padding: 0;
}
.dataTable .react-bs-table-sizePerPage-dropdown .dropdown-menu > li a {
  text-align: center;
  display: block;
  padding: 3px 5px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}
.dataTable .pagination {
  margin-bottom: 0;
}
.dataTable .pagination li[title="previous page"] a:after,
.dataTable .pagination li[title="next page"] a:after {
  font: var(--fa-font-solid);
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #fff;
}
.dataTable .pagination li[title="previous page"] a:hover:after,
.dataTable .pagination li[title="next page"] a:hover:after {
  background-color: #e9ecef;
}
.dataTable .pagination li[title="next page"] a:after {
  content: "\f054";
}
.dataTable .pagination li[title="previous page"] a:after {
  content: "\f053";
}
.dataTable .pagination .page-item {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.dataTable .pagination .page-item .page-link {
  line-height: 0.8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ant-select-dropdown-menu {
  max-height: none !important;
  overflow-y: visible !important;
}

.bg-form {
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  margin-top: 1rem;
}
.bg-form .bg-form-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.bg-form .bg-form-header h4 {
  font-weight: bold;
}
.bg-form .bg-form-header .ant-btn-primary {
  border-color: #0acf97;
  background: #0acf97;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(10, 207, 151, 0.5);
          box-shadow: 0 2px 6px 0 rgba(10, 207, 151, 0.5);
}
.bg-form .bg-form-header .ant-btn-primary:hover {
  background-color: #056e50;
}
.bg-form .ant-form-item .ant-col-3 {
  text-align: left;
}
.bg-form .body-part-effect > .ant-col:first-child,
.bg-form .body-part-effect > .ant-col:last-child {
  display: grid;
}

.dashboard .ant-card .ant-card-body p {
  padding: 0;
  margin: 0;
}
.dashboard .statusEmployee .contentStatus {
  float: left;
  width: 100%;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  position: static;
}
.dashboard .statusEmployee .contentStatus .contentStatus_child {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.dashboard .statusEmployee .contentStatus .contentStatus_child .contentStatus_child_num {
  font-size: 22px;
  line-height: 1;
}
.dashboard .statusEmployee .contentStatus .contentStatus_child .contentStatus_child_text {
  color: #000;
  font-size: 12px;
}
.dashboard .statusEmployee .overlayStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.dashboard .statusGroup .ant-card .ant-card-body {
  padding: 10px 5px;
}

.with-chevron[aria-expanded=true] i {
  display: block;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.header #demo1:before,
.header #demo2:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 15px;
  height: 14px;
  width: 14px;
  border: 1px solid #e7ebf0;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 101;
  border-bottom: none;
  border-right: none;
}
.header .menu_acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.header .menu_acc:hover .menu_notificate,
.header .menu_acc .menu_acc_list {
  color: white;
}
.header .menu_notificate ul {
  padding-bottom: 1rem;
}
.header .menu_notificate ul li a p {
  margin-bottom: 0;
}
.header .menu_acc_list,
.header .menu_notificate {
  position: absolute;
  top: calc(100% + 14px);
  right: 16px;
  z-index: 100;
  background-color: white;
  width: 200px;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
          box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  border-radius: 5px;
  border: 1px solid #e7ebf0;
}
.header .menu_acc_list ul,
.header .menu_notificate ul {
  margin: 0;
}
.header .menu_acc_list ul li,
.header .menu_notificate ul li {
  padding: 7px 20px;
}
.header .menu_acc_list ul li a,
.header .menu_notificate ul li a {
  text-decoration: none;
  color: inherit;
}
.header .menu_acc_list ul li a i,
.header .menu_notificate ul li a i {
  margin-right: 10px;
}
.header .ant-avatar {
  -webkit-box-shadow: 2px 4px 11px 2px rgba(154, 161, 171, 0.5);
          box-shadow: 2px 4px 11px 2px rgba(154, 161, 171, 0.5);
}
.header .bg-bell {
  height: 45px;
  width: 45px;
  background-color: whitesmoke;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 11px 2px rgba(154, 161, 171, 0.5);
          box-shadow: 2px 4px 11px 2px rgba(154, 161, 171, 0.5);
  color: #096481;
  border: 1px solid rgba(154, 161, 171, 0.5);
}
.header .hide {
  display: none;
}
.header .header-left {
  width: 100px;
}
.header .header-left ul li ul {
  top: 55px;
  position: absolute !important;
  z-index: 5;
  width: 150px;
  -webkit-box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px;
          box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px;
  border-radius: 5px;
  border: 1px solid rgb(231, 235, 240);
}
.header .header-left ul li ul .ant-menu-item {
  padding: 2px 5px !important;
}
.header .header-right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 100px);
}