.footer {
    color: $font-color-2;
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15) !important;
    border-radius: 10px;
    background-color: #001529 !important;

    h5,
    p {
        color: $font-color-2;
        margin-bottom: 1rem;
    }

    .ant-col li a {
        text-decoration: none;
        line-height: 2;
        color: $font-color-2;

        &:hover {
            color: $font-color-5;
        }
    }

    .footer-contact li {
        color: $font-color-2;
        line-height: 2;
    }

    .footer-social {
        li {
            margin-right: 45px;
            position: relative;

            a i {
                font-size: 20px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 38px;
                    height: 38px;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 2px solid white;
                    bottom: 50%;
                    right: 50%;
                    transform: translate(50%, 44%);
                }
            }

            &:hover {
                i {
                    &::after {
                        border: 2px solid $font-color-5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .footer {
        padding: 24px 5px !important;

        .ant-row:last-child {
            flex-direction: column-reverse;
            align-items: center;

            .ant-col:last-child {
                margin-bottom: 10px;
            }

            .ant-col:first-child {
                max-width: 100% !important;
            }
        }

        .footer-social {
            li:last-child {
                margin-right: 0;
            }
        }
    }
}