.layOut_wrapper>.ant-layout {
    position: relative;

    .ant-menu-inline-collapsed {

        li:nth-child(1),
        li:nth-child(7) {
            display: none;
        }
    }

    .ant-layout-sider {
        overflow-x: hidden;
        position: absolute;
        min-height: 100%;
        z-index: 99;
        top: 0;
        left: 0;

        .logo {
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;
        }
    }

    .ant-menu.ant-menu-inline-collapsed>.ant-menu-item {
        padding: 0 calc(50% - 12px);
    }
}

.hiden_logo {
    display: none;
}