.layOut_wrapper>.ant-layout {
    position: relative;

    .special-menu li{
        .ant-menu-submenu-title
        {
            padding: 0 0  !important;
        }
    }


    .ant-menu-inline-collapsed // .ant-menu-inline-collapsed-noicon 

        {

        li:nth-child(1),
        li:nth-child(7),
        li:nth-child(11) {
            display: none;
        }
    }

    .ant-menu-inline-collapsed:hover {

        li:nth-child(1),
        li:nth-child(7),
        li:nth-child(11) {
            display: list-item;
        }
    }

    .ant-layout-sider {
        overflow-x: hidden;
        position: fixed;
        min-height: 100%;
        z-index: 99;
        top: 0;
        left: 0;

        .logo {
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;

            .sideBar-icon-sm {
                display: list-item;
            }

            .sideBar-icon-lg {
                display: none;
            }
        }

        &:hover {
            .logo {
                .sideBar-icon-lg {
                    display: list-item;
                }

                .sideBar-icon-sm {
                    display: none;
                }
            }
        }
    }

    .ant-menu-submenu-title {
        padding: 0 calc(50% - 12px) !important;
    }

    .ant-layout-sider-collapsed {
        &:hover {
            flex: 0 0 200px !important;
            max-width: 200px !important;
            min-width: 200px !important;
            width: 200px;

            .ant-menu-item,
            .ant-menu-submenu-title {
                padding: 0 20px !important;

                .ant-menu-title-content {
                    opacity: 1 !important;
                }

            }
        }

    }

    .ant-menu.ant-menu-inline-collapsed>.ant-menu-item {
        padding: 0 calc(50% - 12px);
    }


    .ant-space-item {
        min-height: 100%;
    }

}


// @media screen {

// }