.layOut_wrapper>.ant-layout {
    position: relative;

    .ant-layout-sider {
        overflow-x: hidden;
        position: fixed;
        min-height: 100%;
        z-index: 99;
        top: 0;
        left: 0;

        .logo {
            padding-top: 30px;
            padding-bottom: 20px;
            text-align: center;

            .sideBar-icon-sm {
                display: list-item;
            }

            .sideBar-icon-lg {
                display: none;
            }
        }

        &:hover {
            .logo {
                .sideBar-icon-lg {
                    display: list-item;
                }

                .sideBar-icon-sm {
                    display: none;
                }
            }
        }
    }

    .ant-space-item {
        min-height: 100%;
    }

}