* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./base/reset";
@import "./helper/variable";
@import "./layout/layoutDashboard";
@import "./page/dashboard";
@import "./page/login";
@import "./page/exportPdf";
@import "./page/InjuryForm";
@import "./page/dayOffCalendar";
@import "./page/userManageMent";
@import "./components/dataTableStyle";
@import "./components/formInfor";
@import "./components/statusComponentDashBoard";
@import "./layout/header";
@import "./layout/footer";
@import "./components/button"